<div id="centerer" class="flex justify-center items-center lg:pt-24">
  <div
    id="board"
    cdkDropListGroup
    class="flex flex-col lg:flex-row gap-8 w-full max-w-5xl p-8"
  >
    <div
      id="list-{{ i }}"
      *ngFor="let list of board.lists; let i = index"
      cdkDropList
      (cdkDropListDropped)="drop($event)"
      [cdkDropListData]="list"
      class="flex flex-col gap-4 w-full p-6 border-x border-x-slate-300"
    >
      <h2 class="text-2xl font-extrabold">
        {{ list.title }} - {{ list.tasks.length }}
      </h2>
      <div
        id="task-{{ i }}"
        *ngFor="let task of list.tasks; let i = index"
        cdkDrag
        class="card border border-slate-300 bg-white cursor-pointer"
      >
        <div class="card-body p-4">
          <h3>{{ task.text }}</h3>
        </div>
      </div>
    </div>
  </div>
</div>
